.windows.monaco-workbench {
    font-family: 'JetBrainsMono Nerd Font' !important;
    font-weight: 400;
}

.tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tab.selected {
    border: 0.5px solid #89b4faa6 !important;
    border-bottom: 0px !important;
}

.monaco-list-row.focused.selected {
    outline: none !important;
}

.monaco-list::before {
    outline: none !important;
}

.tabs-and-actions-container {
    border-bottom: 0.5px solid #89b4faa6 !important;

}

/* .titlebar-container {
    display: none!important;
    }
    
    .titlebar {
        display: none!important;
        height: 0px !important;
        } */

.sidebar {
    border-right: 0.5px solid #89b4faa6 !important;
}

